<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login test</title>
</head>
<body>

    <form action="/login/" method="post">
        {% csrf_token %}
        <div>
            <label for="username">帳號:</label>
            <input type="text" id="username" name="username" required autocomplete="off">
        </div>
        <div>
            <label for="password">密碼:</label>
            <input type="password" id="password" name="password" required autocomplete="off">
        </div>
        <div>
            <button type="submit">登入</button>
            <span style="color: red;">{{ message }}</span>
        </div>
    </form>
   
    
</body>
</html>